
/*
Undeline navbar text on hover
*/
.navbar-nav a:hover {
  text-decoration: underline;
}

/*
Change Version number badge on navbar
*/
.text-muted {
    color: #984807 !important;
    background-color: #f7f8f8;
    border: 2px solid #f7f8f8;
    border-radius: 5px;
}
